body{
    background-image: url("image/background\ image.jfif");
    background-repeat: repeat-x;
    background-size: 600px;
}

.nav{
    height: 40px;
    background-image: url("image/background\ image.jfif");
    border-radius: 20px;
    box-shadow: 0px 6px 8px #666;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.libt{
    float: left;
    width: 330px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1cm;
}

.libt{
    color: #ff7575;
}

.libt a:hover{
    background-color: lightslategray;
    display: block;
}

body {
    margin: 0;
    background-color: #ffd8d8;
}
  
  .tb {
    display: table;
    width: 100%;
}
  
  .td {
    display: table-cell;
    vertical-align: middle;
}
  
  input,
  button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}
  
  #cover {
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}
  
  input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}
  
  input[type="text"]::placeholder {
    color: #e16868;
}
  
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}
  
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}
  
  button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}
  
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}
  
  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}
  
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}
  
  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}
  
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

h1{
    position: relative;
    font-size: 4cm;
    color: #ff7575;
}

h2{
    position: relative;
    font-size: 1cm;
    color: #ff7575;
}

p1{
    padding: 30px;
    font-size: xx-large;
    color: #ff7575;
}

p2{
    padding: 30px;
    font-size: xx-large;
    color: #ff7575;
}

p3{
    padding: 30px;
    font-size: xx-large;
    color: #ff7575;
}

p4{
    margin-bottom: 10px;
    padding: 30px;
    font-size: 1cm;
}

.box_div_art{
    display: flex;
    position: relative;
}

#box0{
    width: 250px;
    height: 55px;
    color: #ff7575;
    background-color: yellow;
    margin-left: 50px;
}

#box1{
    width: 450px;
    height: 600px;
    background-color: yellow;
    margin-left: 50px;
    border: 5px solid #ff7575;
}

#box1 img{
    width: 450px;
    height: 350px;
}

p5{
    font-size: xx-large;
    color: #ff7575;
}

#box2{
    width: 450px;
    height: 640px;
    background-color: yellow;
    margin-left: 50px;
    border: 5px solid #ff7575;
}

#box2 img{
    width: 450px;
    height: 350px;
}

p7{
    font-size: xx-large;
    color: #ff7575;
}

#box3{
    width: 400px;
    height: 55px;
    color: #ff7575;
    background-color: yellow;
    margin-left: 50px;
}

#box4{
    width: 450px;
    height: 600px;
    background-color: yellow;
    margin-left: 50px;
    border: 5px solid #ff7575;
}

#box4 img{
    width: 450px;
    height: 360px;
}

p9{
    font-size: xx-large;
    color: #ff7575;
}

#box5{
    width: 450px;
    height: 640px;
    background-color: yellow;
    margin-left: 50px;
    border: 5px solid #ff7575;
}

#box5 img{
    width: 450px;
    height: 360px;
}

p11{
    font-size: xx-large;
    color: #ff7575;
}

#box6{
    width: 250px;
    height: 55px;
    color: #ff7575;
    background-color: yellow;
    margin-left: 50px;
}

#box7{
    width: 450px;
    height: 600px;
    background-color: yellow;
    margin-left: 50px;
    border: 5px solid #ff7575;
}

#box7 img{
    width: 450px;
    height: 400px;
}

p13{
    font-size: xx-large;
    color: #ff7575;
}

#box8{
    width: 450px;
    height: 640px;
    background-color: yellow;
    margin-left: 50px;
    border: 5px solid #ff7575;
}

#box8 img{
    width: 450px;
    height: 400px;
}

p15{
    font-size: xx-large;
    color: #ff7575;
}

p17{
    font-size: 1cm;
    color: #ff7575;
    padding: 240px;
}

p18{
    font-size: 1cm;
    color: #ff7575;
}

.box {
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1690px;
    height: 380px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    background: rgba(50,50,50,0.2);
}

.box > h2 {
    color: rgba(255,255,255,0.9);
    margin-bottom: 20px;
}

.box .input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}

.box .input-box > label {
    margin-bottom: 5px;
    color: rgba(255,255,255,0.9);
    font-size: 13px;
}

.box .input-box > input {
    box-sizing: border-box;
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    height: 35px;
    width: 250px;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    transition: 0.2s;
    outline: none;
    padding: 0 10px;
    letter-spacing: 1px;
}

.box .input-box > input:focus {
    border: 1px solid rgba(255,255,255,0.8);
}

.box .btn-box {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.box .btn-box > a {
    font-size: 14px;
    text-decoration: none;
    color: rgba(255,255,255,0.9);
    transition: 0.2s;
    width: 250px;
    text-align: end;
}

.box .btn-box > a:hover {
    color: rgba(255,255,255,1);
}

.box .btn-box > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}

.box .btn-box > div > button {
    width: 120px;
    height: 35px;
    border: 1px solid rgba(197, 81, 58,0.8);
    background: rgba(197, 81, 58,0.5);
    color: rgba(255,255,255,0.9);
    border-radius: 5px;
    transition: 0.2s;
}

.box .btn-box > div > button:nth-of-type(2) {
    margin-left: 10px;
}

.box .btn-box > div > button:hover {
    border: 1px solid rgba(248, 108, 76,0.8);
    background: rgba(248, 108, 76,0.5);
}

.slideshow {
    position: relative;
    top: 300px;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
}

.slideshow .image {
    width: 100%;
}
.slideshow .image>img {
    display: block;
    width: 100%;
}

.slideshow .previous,
.slideshow .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font: 700 20px/2 "Arial";
    color: white;
    text-align: center;
}
.slideshow .next {
    right: 5px;
}

.slideshow .previous:hover,
.slideshow .next:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.slideshow .dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.slideshow .dots:hover {
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 4px;
    border-radius: 8px;
    background-color: white;
}
.dot:hover {
    cursor: pointer;
    background-color: rgb(72, 72, 72);
}

.dots .selected {
    background-color: rgb(72, 72, 72);
}

p19{
    font-size: 1cm;
    color: #ff7575;
    padding: 650px;
}

  p{
    font-size: 1cm;
    color: #ff7575;
    padding: 50px;
}

#wrap{
    width: 700px;
    height: 500px;
    margin: 0 auto;
  }
  .container {
    margin: 40px auto 0;
    display: block;
  }
  #prompt {
    width: 60px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    background: #666;
    color: #fff;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.1s;
  }
  .tool {
    margin-top: 20px;
    text-align: center;
  }
